{% extends "base.html" %}
{% block content %}
{% load static %}
{% load social_share %}


  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Post</h1>
              <span class="color-text-a">{{ object.title }}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Post Detail
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="news-img-box">
              <img src="{{ object.blog_image.url }}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="post-information">
              <ul class="list-inline text-center color-a">
                <li class="list-inline-item mr-2">
                  <strong>Author: </strong>
                  <span class="color-text-a">UrbanSpace Realtors Pvt.Ltd.</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>Category: </strong>
                  <span class="color-text-a">{{ object.catagory }}</span>
                </li>
                <li class="list-inline-item">
                  <strong>Date: </strong>
                  <span class="color-text-a">{{ object.date }}</span>
                </li>
              </ul>
            </div>
            <div class="post-content color-text-a">
              <p class="post-intro">
                {{ object.overview }}
              </p>
              <p>
               {{ object.disc | safe }}
              </p>
            </div>
            <div class="post-footer">
              <div class="post-share">
                <span>Share: </span>
                <ul class="list-inline socials">
                  <li class="list-inline-item">
                    {% post_to_facebook object_or_url '<i class="fa fa-facebook" aria-hidden="true"></i>' %}
                  </li>
                  <li class="list-inline-item">
                    {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp" aria-hidden="true"></i>' %}
                  </li>
                  <li class="list-inline-item">
                    {% post_to_telegram 'New Post: {{object.title}}' object_or_url '<i class="fa fa-telegram" aria-hidden="true"></i>'  %}
                  </li>
                  <li class="list-inline-item">
                    {% post_to_linkedin object_or_url %}
                  </li>
                  <li class="list-inline-item">
                    {% send_email object.title "New Post: {{object.title}}. Check it out!" object_or_url '<i class="fa fa-envelope" aria-hidden="true"></i>' %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="title-box-d">
              <h3 class="title-d">Comments ({{ object.comment_count }})</h3>
            </div>
            <div class="box-comments">
              <ul class="list-comments">
                {% for i in comments %}
                <li>
                  
                  <div class="comment-avatar">
                    <img src="https://picsum.photos/id/{{ image_id }}/{{image_id}}" alt="">
                  </div>
                  <div class="comment-details">
                    <h4 class="comment-author">{{ i.name }}</h4>
                    <span>{{ i.date }}</span>
                    <p class="comment-description">
                      {{ i.disc|safe}}
                    </p>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="form-comments">
              <div class="title-box-d">
                <h3 class="title-d"> Leave a Reply</h3>
              </div>
              <form class="form-a" action="./{{object.pk}}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="inputName">Enter name</label>
                      <input type="text" name="name" class="form-control form-control-lg form-control-a" id="inputName" placeholder="Name *" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="inputEmail1">Enter email</label>
                      <input type="email" name="email" class="form-control form-control-lg form-control-a" id="inputEmail1" placeholder="Email *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="inputUrl">Address</label>
                      <input type="text" class="form-control form-control-lg form-control-a" id="inputUrl" placeholder="Address" name="location">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="textMessage">Enter message</label>
                      <textarea id="textMessage" class="form-control" placeholder="Comment *" name="comment" cols="45" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Single-->

  </main><!-- End #main -->
{% endblock content %}