{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Careers</h1>
                        <span class="color-text-a">Opportunity for you</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Careers
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
                {% for car in career_header %}
                <div class="col-sm-12">
                    <div class="news-img-box">
                        <img src="{{ car.img.url }}" alt="{{ car.title }}" class="img-fluid">
                    </div>
                </div>
                {% endfor %}
                <div style="margin-top: 5%;" class="post-content color-text-a">
                    <div class="row">
                        {% for car in careers  %}
                        <div class="col-sm-6">
                            <div style="margin-top: 5%; background-color:rgba(179, 192, 197, 0.602);" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ car.title }}</h5>
                                    <p class="card-text">{{ car.point_1 }}</p>
                                    <a href="{{ car.get_absolute_url }}" class="btn btn-primary">Apply Now</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock content %}