<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">UrbanSpace Realtors Pvt. Ltd.</h3>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span>+91-8448448652</li>
              <li class="color-a">
                <span class="color-text-a">Email .</span>info@urbanspacerealtor.com</li>
              <li class="color-a">
                <span><a href="{% url 'testimonial_add' %}" class="color-text-a">Testimonials</a>|</span>Give Reviews
                For Our Works</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">The Company</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}#about">About Us</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}#project">Project</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}#testimonials">Testimonials</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}#team">Leadership</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="{% url 'home' %}#careers">Careers</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="{% url 'privacy' %}">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Our Presence</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Chhattisgarh</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Jharkhand</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Madhya Pradesh</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Maharashtra</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">New Delhi</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Odisha</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="#">Uttar Pradesh</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'home' %}#about">About</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'home' %}#team">Leadership</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'home' %}#testimonials">Testimonials</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'home' %}#project">Projects</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'home' %}#contact">Contact</a>
            </li>
          </ul>
        </nav> -->
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="http://www.facebook.com/urbanspacerealtors">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/PvtRealtors">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.instagram.com/urbanspace.realtors">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/urbanspace-realtors-pvt-ltd">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://wa.me/+918448448652">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <script type="text/javascript">!function(t,e){t.artibotApi={l:[],t:[],on:function(){this.l.push(arguments)},trigger:function(){this.t.push(arguments)}};var a=!1,i=e.createElement("script");i.async=!0,i.type="text/javascript",i.src="https://app.artibot.ai/loader.js",e.getElementsByTagName("head").item(0).appendChild(i),i.onreadystatechange=i.onload=function(){if(!(a||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState)){new window.ArtiBot({i:"f3ac0087-357d-45e4-8afc-f2e028d699fc"});a=!0}}}(window,document);</script>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright 2021
            <span class="color-a">Urabanspace Realtors Pvt. Ltd.</span> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>


</footer><!-- End  Footer -->