<style>
  @media (min-width: 992px) {
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 100%;
    }}

    .pricing .box {
      padding: 20px;
      background: #fff;
      text-align: center;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      position: relative;
      overflow: hidden;
    }

    .pricing h3 {
      font-weight: 400;
      margin: -20px -20px 25px -20px;
      padding: 30px 15px;
      font-size: 18px;
      font-weight: 600;
      color: #777777;
      background: #f8f8f8;
    }

    .pricing h4 {
      font-size: 36px;
      color: #2eca6a;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      margin-bottom: 20px;
    }

    .pricing h4 sup {
      font-size: 20px;
      top: -15px;
      left: -3px;
    }

    .pricing h4 span {
      color: #bababa;
      font-size: 16px;
      font-weight: 300;
    }

    .pricing ul {
      padding: 0;
      list-style: none;
      color: #444444;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
    }

    .pricing ul li {
      padding-bottom: 16px;
    }

    .pricing ul i {
      color: #2eca6a;
      font-size: 18px;
      padding-right: 4px;
    }

    .pricing ul .na {
      color: #ccc;
      text-decoration: line-through;
    }

    .pricing .btn-wrap {
      margin: 20px -20px -20px -20px;
      padding: 20px 15px;
      background: #f8f8f8;
      text-align: center;
    }

    .pricing .btn-buy {
      background: #2eca6a;
      display: inline-block;
      padding: 8px 35px 10px 35px;
      border-radius: 50px;
      color: #fff;
      transition: none;
      font-size: 14px;
      font-weight: 400;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      transition: 0.3s;
    }

    .pricing .btn-buy:hover {
      background: #57d186;
    }

    .pricing .featured {
      border: 2px solid #2eca6a;
    }

    .pricing .featured h3 {
      color: #fff;
      background: #2eca6a;
    }

    .pricing .advanced {
      width: 200px;
      position: absolute;
      top: 18px;
      right: -68px;
      transform: rotate(45deg);
      z-index: 1;
      font-size: 14px;
      padding: 1px 0 3px 0;
      background: #2eca6a;
      color: #fff;
    }
</style>
<section style="margin-top:2%;" id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2 style="font-size: 1.6rem;">Pricing</h2>
    </div>

    <div id="price-crousel" class="owl-carousel owl-theme">
      {% for price in pricing %}
      <div class="carousel-item-b">
        <div class="col-lg-3 col-md-6">
          <div class="box" data-aos="zoom-in">
            <h3>{{ price.title }}</h3>
            <h4><sup>₹</sup>{{ price.price}}<span> / {{ price.parameter }}</span></h4>
            <ul>
              <li>{{ price.service_1 }}</li>
              <li>{{ price.service_2 }}</li>
              <li>{{ price.service_3 }}</li>
              <li>{{ price.service_4 }}</li>
              <li>{{ price.service_5 }}</li>
              <li>{{ price.service_6 }}</li>
              <li>{{ price.service_7 }}</li>
              <li>{{ price.service_8 }}</li>
              <li>{{ price.service_9 }}</li>
              <li>{{ price.service_10 }}</li>
            </ul>
            <div class="btn-wrap">
              <a href="{{ price.buy_now_link }}" class="btn-buy">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>