<style>
    @media (min-width: 992px) {
        .title-c {
            font-size: 1.3rem;
        }
    }
</style>
<section id="services" class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for ser in services %}
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="{{ ser.symbol|safe }}"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">{{ ser.name }}</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            {{ ser.dics | safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>